<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %><%= config.author || config.title %><br>
      本站文章以 <a href="https://creativecommons.org/licenses/by-sa/3.0/cn/" target="_blank">CC BY-SA 3.0 CN</a> 许可协议发布<br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer>