<div class="widget-wrap">
	<h3 class="widget-title">友情链接</h3>
	<div class="widget">
		<ul>
			<li><a href="http://ld.mmyz.net/" title="茂名市第一中学灵动计算机社" target="_blank">灵动计算机社</a></li>
			<li><a href="http://zeyes.org/" target="_blank">泽爷工作室</a></li>
		</ul>
	</div>
</div> 